# Mac's .DS_Store
*.DS_Store

# .pyc files.
*.pyc

# data and results
data
results
wavenet_like
clustering_context-dependent
*/misc

# Other irrelevant things
*__pycache__*
.vscode
.python-version
*old
