# Mac's .DS_Store
*.DS_Store

# .pyc files.
*.pyc

# data and results
data
results
wavenet_like
clustering_context-dependent
*/misc
clustering
context-dependent
dirichlet-categorical
misc
articulartory-decoder
supervised_topline

# Other irrelevant things
*__pycache__*
.vscode
.python-version
*old
